* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Now', sans-serif;
}

/* Ensure this is your main content container */
.main-content {
  padding-top: 70px; /* Adjust this value to match the height of your navbar */
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white; /* Change as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
  z-index: 1000; /* Ensure the navbar stays on top */
}

#logo {
  height: 50px;
}

.link {
  text-decoration: none;
  color: #485660;
  font-weight: 100;
  letter-spacing: 3px;
  transition: color 0.3s; /* Smooth color transition */
}

.link:hover {
  cursor: pointer;
  color: #2c3e50; /* Example: darker color on hover */
}

#menu > ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

#menu > ul > li {
  display: flex;
  align-items: center;
}

#download {
  padding: 10px 20px;
  border: 1px solid #374552;
  color: #374552;
  border-radius: 30px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

#download:hover {
  cursor: pointer;
  background-color: #374552;
  color: white;
}
#link-cart{
  text-decoration: none;
  color: #485660;
  font-weight: 100;
  position: relative;
}

#cart-line1{
  font-size: 40px;
  font-weight: 100;
}
#cart-num{
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  top: 16px;
  left: 15px;
}


/* Hero section */
#hero {
  margin: 20px;
  height: 600px;
  background-color: #374552;
  border-radius: 30px;
  padding: 50px 30px;
}



.h1 {
  color: aliceblue;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 50px;
  margin: 5px;
}

#h1c {
  color: #F85D89;
  margin: 5px;
  font-weight: bolder;
  font-size: 50px;
}

#p1 {
  color: #BFC4C7;
  font-weight: 100;
  font-size: 13px;
  margin: 20px 5px;
}

.readmore {
  width: 130px;
  padding: 13px 20px;
  border-radius: 30px;
  background-color: aliceblue;
  font-weight: 600;
  align-items: center;
  margin: 5px;
  color: #374552;
}


#read {
  display: flex;
}

#arrow {
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.readmore:hover {
  cursor: pointer;
}

.circular-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid aliceblue;
  object-fit: cover;
  position: absolute;
}

#round {
  margin: 110px 5px;
  gap: -10px;
  position: relative;
}

#img2 {
  transform: translateX(30px);
}

#img3 {
  transform: translateX(60px);
}

#img4 {
  transform: translateX(90px);
}

#img5 {
  transform: translateX(120px);
}

#h2 {
  transform: translate(7px, 70px);
  color: aliceblue;
  font-weight: 400;
  font-size: medium;
}

#heroContainer {
  display: flex;
  justify-content: space-between;
}

#stamp {
  filter: invert(1);
  height: 140px;
  margin-right: 70px;
  transform: rotate(30deg);
}

#rightHeroContainer {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

#para>h2 {
  color: aliceblue;
  font-size: 20px;
  margin-top: 20px;
}

#para>p {
  color: #BFC4C7;
  margin-top: 20px;
}

#checkourrecipe {
  width: 180px;
  padding: 13px 20px;
  border-radius: 30px;
  background-color: aliceblue;
  font-weight: 600;
  align-items: center;
  margin: 5px;
  color: #374552;
  position: absolute;
  transform: translate(100%, 100%);
}

#checkourrecipe:hover {
  cursor: pointer;
}



/* Recipe */


#recipe {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px;
}

#reciperight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  gap: 40px;
}

#recipesort {
  height: 50px;
  width: 180px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;

}

#recipesort:hover {
  cursor: pointer;
}

.search-container {
  position: relative;
  width: 100%;
  background-color: #fff3f8;
}

.search-input {
  height: 55px;
  width: 350px;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}

.search-input::placeholder {
  color: #888;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
  pointer-events: none;
}







#itemmenucontainer {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px;
}

#recipemenu {
  height: 50px;
  width: 230px;
  border: 1.5px solid #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 15px;

  color: #888;

  &:hover {
    cursor: pointer;
    background-color: #374552;
    color: #eee;
  }
}

#imgback {
  height: 35px;
  width: 35px;
  background-color: #374552;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pizzaimg {
  height: 25px;
  filter: invert(1);
}

#menuname {
  margin-left: 10px;
}

#recipeimg2 {
  transform: rotate(-90deg);
  height: 450px;
  margin: -55px 67px -74px 0px;
  border-radius: 30px;
  object-fit: cover;
}




#item-details {
  height: 130px;
  width: 350px;
  background-color: #374552;
  border-radius: 30px;
  position: relative;
  padding: 20px 50px 0px 70px;
  margin: 20px;

}

#item-details>h2 {
  color: #EEE;
  font-weight: 400;
  margin-bottom: 15px;
}

#round-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 11.7%;
  left: -15%;
}

.vertical-line {
  width: 1.5px;
  height: 6vh;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  top: 50%;
}

#serving-box {
  display: flex;
  justify-content: space-between;
  color: #ccc;
  font-weight: 100;
}

.h3 {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 8px;
}

#person-box {
  display: flex;
}

.lit {
  color: #eee;
}



/* Hotels */
#filter {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #e7e6e6;
  width: auto;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}

#filter>h2 {
  font-weight: 500;
  font-size: 14px;
}

#filter-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#hotel-menu-container {
  margin: 40px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}







.card {
  margin: 10px;
  width: 270px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #aaa;
  margin: 10px 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.card-rating {
  font-size: 1rem;
  color: #374552;
}

.card-distance {
  font-size: 0.9rem;
  color: #888;
  margin: 5px;
}

.card-button {
  width: 100%;
  padding: 10px;
  background-color: #374552;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button>a {
  text-decoration: none;
  color: #fff;
}

.card-button:hover {
  background-color: #485460;
}


#show-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#show-more {
  border: 1px solid #ccc;
  padding: 13px 20px;
  border-radius: 30px;

  &:hover {
    cursor: pointer;
    background-color: #374552;
    color: #eee;
  }
}



/* shimmer.css */
.card-shimmer {
  margin: 10px;
  width: 270px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-shimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.card-image-shimmer {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
}

.card-content-shimmer {
  padding: 15px;
}

.card-title-shimmer,
.card-description-shimmer,
.card-details-shimmer,
.card-button-shimmer {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.card-title-shimmer {
  height: 24px;
  width: 60%;
  margin: 10px 0;
}

.card-description-shimmer {
  height: 16px;
  width: 80%;
  margin: 10px 0;
}

.card-details-shimmer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.card-rating-shimmer,
.card-distance-shimmer {
  height: 16px;
  width: 40%;
}

.card-button-shimmer {
  width: 100%;
  height: 40px;
  margin-top: 15px;
}


.fundo {
  animation: scales 3s alternate infinite;
  transform-origin: center;
}

.pao-baixo {
  animation: rotatepao 14s cubic-bezier(.1, .49, .41, .97) infinite;
  transform-origin: center;
}

.pao-cima {
  animation: rotatepao 7s 1s cubic-bezier(.1, .49, .41, .97) infinite;
  transform-origin: center;
}

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}

.left-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 150px 156px;
}

.right-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 310px 150px;
}

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}

@keyframes scales {
  from {
    transform: scale(0.98)
  }

  to {
    transform: scale(1)
  }
}

@keyframes rotatepao {
  0% {
    transform: rotate(0deg)
  }

  50%,
  60% {
    transform: rotate(-20deg)
  }

  100% {
    transform: rotate(0deg)
  }

}

@keyframes olhos {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks {
  0% {
    opacity: 0;
  }

}


.main {

  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite;
}

@keyframes dash {

  0%,
  30% {
    fill: 4B4B62;
    stroke-dashoffset: 0;
  }

  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  }


}





/* Retaurant page */


#menu-name-container {
  margin-left: 70px;
}

#menu-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#menu-box>h3 {
  margin-right: 10px;
}

#menu-box>h4 {
  font-weight: 400;
  color: #999;
}

#category-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#category-box {
  height: 130px;
  width: 130px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;

  &:hover {
    cursor: pointer;
    filter: sepia(1) saturate(5) hue-rotate(180deg) brightness(0.8)
  }
}

#inner-category-box-text>h2 {
  font-size: 16px;
  font-weight: 500;
  color: #666;
}

#inner-category-box {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #ccc;
}

#inner-category-box>img {
  height: 55px;
}


/* Footer Page */


/* Footer.css */

.footer {
  background-color: #374552;
  color: #888;
  padding: 20px;
  border-top: 1px solid #dee2e6;
  border-radius: 30px 30px 0px 0px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #ccc;
}

.footer-description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list a {
  color: #888;
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media a {
  color: #888;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-media a:hover {
  color: #007bff;
}

.subscribe-form {
  display: flex;
  gap: 10px;
}

.subscribe-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.subscribe-form button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #888;
  border-radius: 4px;
  cursor: pointer;
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.875rem;
  color: #888;
}


#nearby-hotels {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}


/* Restaurant Details */
#rs-hotel-menu-container {
  margin: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rs-hotel-name>h1 {
  margin-bottom: 20px;
  font-size: 25px;

  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ddd;
}

#rs-hotel-details-container {
  height: 200px;
  width: 1000px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ccc;
  margin-bottom: 30px;
  padding: 20px;
}

#rs-hotel-option {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#rs-hr {
  height: 1px;
  width: 1000px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.rs-oo {
  height: 5px;
  width: 135px;
  background-color: #374552;

  border-radius: 10px 10px 0px 0px;
}

#rs-h3 {
  margin: 10px;
}

.rs-cp:hover {
  cursor: pointer;
}


#rs-menu-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

#rs-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #168B3E;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#rs-circle>i {
  color: #fff;
  font-size: 13px;
}

#rs-rating {
  display: flex;
  margin-bottom: 10px;
}

#rs-ratings-h3 {
  font-weight: 500;
}

#rs-link {
  color: orangered;
  margin-bottom: 10px;
}

#rs-link>a {
  color: orangered;
  margin-right: 5px;
}

#rs-outlet1 {
  margin: 15px 0px;
  display: flex;
  align-items: center;
}

#rs-outlet2 {
  margin: 15px 0px;
  display: flex;
  align-items: center;
}

#rotated-icon {
  display: inline-block;
  transform: rotate(180deg);
}

.rs {
  margin-right: 15px;
}

#rs-outlet-text {
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}

#rs-outlet-loc {
  font-size: 14px;
  font-weight: 300;
  color: #888;
}

#rs-time {
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}

#rs-footer {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  gap: 10px;
}

#cycle {
  height: 23px;
}

#rs-footer h3 {
  font-size: 15px;
  font-weight: 300;
}

#rs-menu-detail-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
  position: relative;
}

#rs-text-div {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

#rs-text-div>h4 {
  margin-right: 10px;
}

#rs-text-div>i {
  color: #168B3E;
}

#rs-text-div>h5 {
  margin-right: 3px;
}

#rs-text-div>p {
  font-size: 12px;
  font-weight: 900;
  color: #888;
}

#rs-star1 {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 15px 0px;
}

#rs-star1>i {
  color: #168B3E;
}

#rs-star1>h6 {
  font-size: 14px;
  color: #666;
}

#rs-menu-para>h5 {
  font-size: 16px;
  font-weight: 300;
  color: #666;

}

#rs-menu-img>img {
  /* height: 180px; */
  width: 200px;
  object-fit: contain;
  border-radius: 20px;

}

#rs-hr {
  height: 1px;
  width: 1000px;
  background-color: #ccc;
}

#rs-add-btn {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 74%;
  left: 85.6%;
  background-color: #fff;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #ccc;
  }
}

#rs-add-btn>h1 {
  color: #168B3E;
  font-size: 20px;
}



#section-card-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}

#carousell:hover {
  cursor: pointer;
}

#padd {
  margin: 10px 0px;
}

#menu>ul>li>i>Link {
  position: relative;
  display: flex;
  align-items: center;
  color: #485660;

  &:hover {
    cursor: pointer;
  }
}

#cart-line1 {
  font-size: 35px;
  font-weight: 100;
}

#cart-span {
  font-size: 18px;
  margin: 3px;
  text-decoration: none;
  color: #485660;
  font-weight: 100;
  letter-spacing: 3px;
}

#cart-num {
  font-size: 10px;
  font-weight: 900;
  position: absolute;
  top: 16.5px;
  left: 14px;
}
#link-cart{
  text-decoration: none;

  color: #485660;
  display: flex;
}



/* cart page */
#cart-cant{
  margin: 50px 70px;
}
#cart-heading-text{
  margin-left: 188px;
  text-transform: uppercase;
}
#cart-main-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#left-cart-container{
  height: 40vw;
  width: 35vw;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ccc;
  padding: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}
#right-cart-container{
  height: 40vw;
  width: 28vw;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ccc;
  padding: 30px;
  overflow-y: scroll;
}

#cart-item-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#cart-items-cont{
  height: 8vw;
  width: 30vw;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  margin: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#imggg{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
#imggg>h4{
  color: #2c3e50;
}
#imggg>img{
  height: 5vw;
  width: 7vw;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 10px;
}
#name-text{
  display: flex;
  align-items: center;
  gap: 5px;
}
#name-text > h3{
  color: #444;
  font-weight: 800;
}

#clear-cart>h3 {
  border: 1.5px solid #ccc;
  padding: 10px 20px;
  border-radius: 20px;
  color: #2c3e50;
  cursor: pointer;
  margin: 10px;
  &:hover{
    background-color: #2c3e50;
    color: #fff;
  }
}
clr-cart>h3{
  margin-bottom: 100px;
}

#text-div>p{
  font-size: 12px;
  margin-top: 5px;
  color: #777;
}
#remove-item{
  height: 25px;
  width: 25px;
  border: 1px solid #888;
  border-radius: 50%;
  position: absolute;
  top: -1;
  left: 95%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#remove-item>i{
  margin: 2px;
}
#clear-cart-111{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
#order-Link{
  text-decoration: none;
  border: 1.5px solid #ccc;
  /* padding: 1px 20px; */
  border-radius: 20px;
  color: #2c3e50;
  cursor: pointer;
  margin: 40px 0px 55px 0px;
  &:hover{
    background-color: #2c3e50;
    color: #fff;
  }
}
#no-orders-yet{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#no-orders-yet>p{
  color: #888;
}
#h333{
  margin-bottom: 20px;
}
#empty-cart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#empty-cart-img{
  height: 400px;
  margin-top: 40px;
}
#p-h4{
  font-weight: 500;
  font-size: 14px;
  color: #666;
}


/* Counter.css */
.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Spacing between buttons and display */
  border: 1px solid #888;
  padding: 5px;
  border-radius: 10px;

}

.counter-button {
  background-color: #374552; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  padding: 5px 10px; /* Padding for buttons */
  font-size: 18px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color change */
}

.counter-button:hover {
  background-color: #2b3845; /* Darker green on hover */
}

.counter-button:disabled {
  background-color: #ccc; /* Gray background when disabled */
  cursor: not-allowed; /* Not-allowed cursor */
}

.counter-display {
  font-size: 15px; /* Font size for the count */
  font-weight: bold; /* Bold text */
}
#checkout-item-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin: 15px 0px;
}
#checkout-item-name h3{
  font-weight: 300;
  font-size: 16px;
}
#checkout-item-customise{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #D45602;
  cursor: pointer;
  margin-top: 5px;
}
#checkout-item-name h6{
  font-size: 17px;
  font-weight: 300;
  color: #485460;
  margin-left: 10px;
}

#checkout-item-heading{
  margin-bottom: 10px;
}
#checkout-circle{
  margin-right: 5px;
  font-size: 15px;
}
#checkout-right-price{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#flex-end{
  display: flex;
  justify-content: flex-end;
}
#checkout-right-price h6{
  width: 50px;
}
/* SuggestionBox.css */
.suggestion-box {
  position: relative;
  width: auto; /* Adjust width as needed */
  margin: 10px 0px;
}
.suggestion-input::placeholder {
  color: #888; /* Change text color */
  font-size: 14px; /* Change font size */
  font-weight: 300;
  opacity: 1; /* Set opacity, default is 0.5 in some browsers */
}
.suggestion-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.suggestion-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 150px; /* Max height with scroll */
  overflow-y: auto;
  z-index: 1000; /* Ensure it appears above other elements */
  margin-top: 2px; /* Space between input and suggestions */
  padding: 0;
  list-style: none;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-item:active {
  background-color: #ddd;
}
#check-out-prices{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#check-out-prices > h5{
  font-weight: 300;
  color: #777;
  margin: 5px 0px;
}
#bar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
#bar1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
#iddd{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#iddd > h5{
  color: #000;
  
}
.success-message {
  position: fixed;
  top: 90%;
  right: 45%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#pay-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#pay{
  border: 1.5px solid #ccc;
  padding: 10px 20px;
  border-radius: 20px;
  color: #2c3e50;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
  &:hover{
    background-color: #4caf50;
    color: #fff;
  }
}
#pay{
  font-size: 14px;
}


